################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyTreeBackEnd/FamilyTreeApi/FamilyTreeApi/appsettings.json
