

<main>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6" id="landing">
        <h1>مرحباً بكم في عشائر السنديانة</h1>
        <p class="lead">نحن نسعى للحفاظ على تراث وثقافة عشائر السنديانة وتعريف الن
          اس عنهم للجيل الحالي والأجيال القادمة. تأسست عشائر السنديانة منذ مئات السنين وتتميز بتنوعها الثقافي واللغوي وتراثها الغني بالتراث الشعبي والحرف اليدوية. يمكن للأفراد الانضمام إلى عشيرة السنديانة والاستمتاع بالتراث الثقافي الفريد والتعلم من الخبرات والمعارف القيمة التي يتم تبادلها داخل العشيرة.</p>
          <a href="#" class="btn btn-primary">تعرف على المزيد</a>
        </div>
        <div class="col-md-6">
        <img src="https://via.placeholder.com/500x350" alt="عشائر السنديانة" class="img-fluid">
        </div>
        </div>
        </div>

          </main>




